* {
  padding: 0;
  margin: 0;
}

#main {
  margin: auto;
  text-align: center;
}
#nav {
  list-style-type: none;
  display: block;
  height: 36px;
  width: 291px;
  margin: 10px auto;
}

#nav li {
  display: inline-block;
  width: 80px;
  height: 20px;
  padding: 5px;
  margin-right: 5px;
  text-align: center;
}

#sign-form {
  height: 170px;
  width: 180px;
  margin: 0 auto;
  padding: 20px;
}

#sign-form button {
  width: 70px;
  height: 25px;
  cursor: pointer;
}

#profile {
  width: 100px;
  height: 120px;
  margin: 0 auto;
  padding: 10px;
}

#profile button {
  width: 70px;
  height: 25px;
  cursor: pointer;
}
